[submodule "criassist-mobile"]
	path = criassist-mobile
	url = git@github.com:ParsaHejabi/InternetEngineering-CriAssist-Mobile.git
[submodule "criassist-frontend"]
	path = criassist-frontend
	url = git@github.com:ParsaHejabi/InternetEngineering-CriAssist-FrontEnd.git
