[submodule "criassist-mobile"]
	path = criassist-mobile
	url = https://gitlab.com/criassist/criassist-mobile.git
[submodule "criassist-frontend"]
	path = criassist-frontend
	url = https://gitlab.com/criassist/criassist-frontend.git
